

body {
    display: grid;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-image: url(img/30_iex01.png);

}

.container {
    display: grid;
    height: 500px;
    justify-items: center;
    
}

.login-tab {
    width: 400px;
    background-image: url(img/avg_0_3.png);
    background-position: center;
    background-size: cover;
    padding: 20px;
    align-self: center;
    border-radius: 10%;
}

.login-error {
    justify-self: center;
    color: red;
    background-color: yellow;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'BebasNeue';
    padding-left: 10px;
    padding-right: 10px;
}

    .login-info {
        list-style: none;
    }

        h1 {
            font-family: 'BebasNeue';
            margin-top: 0px;
            font-size: 70px;
            color: aliceblue;
            text-align: center;
            text-shadow: 2px 2px black;
        }

        .login-insert {
            font-family: 'NotoSans Bold';
            color: white;
            text-shadow: 1px 1px rgb(0, 0, 0);
        }

        input[type="text"], input[type="password"]  {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .login-button  {
            margin-top: 20px;
            justify-self: center;
        }


        .login-button button {
            font-family: 'BebasNeue';
            font-size: 60px;
            background-color: rgb(238, 255, 1);
            padding: 10px;
            border-radius: 20px;
            transition: 300ms;
        }
            button:hover {
                transform: scale(1.1);
                color: white;
                text-shadow: 2px 2px black;
            }
